<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notez</title>
    <link rel="stylesheet" href="static/landing_styling.css">
</head>
<body>
    <div class="main_content">
        <div class="greeting_div">
            <p>Hello welcome to notez!</p>
        </div>
        <div class="button_div">
            <form method="POST">
            <button type="submit">get started</button>
            </form>
        </div>
    </div>
</body>
</html>