<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notez</title>
    <link rel="stylesheet" href="static/landing_styling.css">
</head>
<body>
    <div class="main_content">
        <div class="greeting_div">
            <p>Hello welcome to notez!</p>
            <br>
            <p>enter your name below to get started</p>
        </div>
        <div class="form_div">
        <form id="name_frm" method="POST">
            <input type="text" id="name">
            <input type="button" value="submit" id="submit_name">
        </form>
        </div>
    </div>
    <script src="static\landing.js"></script>
</body>

</html>